[package]
name = "libtzfile"
version = "1.0.1"
authors = ["Nicolas BAUW <nbauw@hotmail.com>"]
description = "This low-level library reads the system timezone information files (TZIF) and returns a Rust struct representing the TZfile fields as described in the man page (http://man7.org/linux/man-pages/man5/tzfile.5.html)."
keywords = ["timezone", "tzfiles", "TZIF", "timestamp"]
categories = ["date-and-time", "parsing"]
edition = "2018"
license = "GPL-3.0"
repository = "https://github.com/nicolasbauw/rs-tzfile"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
byteorder = "1"
chrono = { version = "0.4", optional = true }
dirs = "2.0.2"

[features]
with-chrono = ["chrono"]